.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 1px solid gray;
  transition: 0.2s all ease-out;

  &:hover {
    background: lightgray;
  }
}
